#tytul {
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
}
#srodekofirmie {
    float: left;
    width: 100%;
    margin-bottom: 50px;

}
#ofirmieinfo {
    float: left;
    padding: 30px 30px 100px 50px;
    line-height: 1.5;
    width: 50%;

}
#zdjecieofirmie {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 200px;

}
#tytultabela {
    width: 100%;
    padding: 30px 30px;
    text-align: center;
    float: left;
}
table, tr, td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    table-layout: fixed;
}