#tytul {
    margin-bottom: 14px;
    width: 100%;
    text-align: center;
}
#srodekzespol {
    float: left;
    width: 100%;
    margin-bottom: 50px;

}
#zespolinfo {
    float: left;
    padding: 30px 30px 100px 50px;
    line-height: 1.5;
    width: 50%;

}
#zdjecieozespole {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 300px;

}
#Copyright {
    margin-top: 50px;
}